@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("solutionbg.jpg" ); */
    background-color: rgb(4, 4, 29);
   
}
h1{
    color: cornsilk;
    text-align: center;
    font-size: 50px;
}
.list-group-item{
    background-color: cornsilk;
}